<body>
<h1>{{ 'Enter ID Movie' }}</h1>


 
 <!-- <button [disabled]=" " type="button"  >search</button> -->
<input [(ngModel)]= "id">

<app-search [mId]="id" (dataMov)="Ondata($event)"> </app-search>
<h2>Movie</h2>

<table style="width:100%">
  <colgroup>
    <col span="4" style="background-color:rgb(168, 188, 255)">
   
  </colgroup>
<tr>
  <th>Movieid</th>
  <th>NameMovie</th>
  <th>TypeMovie</th>
  <th>MoviePrice</th>
</tr>

<tr>
  <td>{{showdata.Movieid}}</td>
  <td>{{showdata.NameMovie}}</td>
  <td>{{showdata.TypeMovie}}</td>
  <td>{{showdata.MoviePrice}}</td>
</tr>


</table>

</body>



